# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/logs/*
*.log

# Server
server/uploads/*
!server/uploads/.gitkeep
server/data.json
server/wedding_db.sql
server/node_modules

# Backups
/var/backups
*.sql
*.sql.gz
scripts/backup_*.sql.gz

# Editor
.vscode/*
!.vscode/extensions.json
.idea
